<a href="https://colab.research.google.com/github/khanh-2004/Week3_pandas/blob/main/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')

### Step 4. How many products cost more than $10.00?

In [3]:
# Chuyển đổi item_price từ chuỗi sang số
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

# Lọc các sản phẩm có giá > 10
more_than_10 = chipo[chipo['item_price'] > 10.00]

print("Số sản phẩm có giá > $10:", more_than_10.shape[0])

Số sản phẩm có giá > $10: 1130

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [4]:
price_df = chipo[['item_name', 'item_price']]
print(price_df.head())

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [5]:
sorted_chipo = chipo.sort_values(by='item_name')
print(sorted_chipo[['item_name', 'item_price']].head())

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [6]:
most_expensive = chipo[chipo['item_price'] == chipo['item_price'].max()]
print("Sản phẩm đắt nhất và số lượng được đặt:")
print(most_expensive[['item_name', 'quantity', 'item_price']])

Sản phẩm đắt nhất và số lượng được đặt:
                         item_name  quantity  item_price
3598  Chips and Fresh Tomato Salsa        15       44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [7]:
veggie_salad = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
print("Veggie Salad Bowl được đặt:", veggie_salad.shape[0], "lần")

Veggie Salad Bowl được đặt: 18 lần

### Step 9. How many times did someone order more than one Canned Soda?

In [8]:
canned_soda = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
print("Số lần đặt Canned Soda > 1 lon:", canned_soda.shape[0])

Số lần đặt Canned Soda > 1 lon: 20